.mat-list-base.inline-list {
  display: flex;
}

.icon {
  height: 50px;
  width: 100px;
  margin-right: 10px;
}

.text-column {
  justify-content: flex-end;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 5px;
  color: black;
}

li a:hover {
  background-color: #ccc;
}